@media (max-width: 767px) {
    .parentContainer {
        form {
            width: 90%;
        }

        .hide {
            bottom: 52.9% !important;
            right: 5.8% !important;
        }

        .hide2 {
            bottom: 34.7% !important;
            right: 5.8% !important;
        }
    }
}