@media (max-width: 1024px) {
    .parentContainer {
        width: 100%;
    }

    .hide {
        bottom: 52.3% !important;
        right: 25.8% !important;
    }

    .hide2 {
        bottom: 36.3% !important;
        right: 25.8% !important;
    }
}