@media (max-width: 1024px) {
    .parentContainer {
        width: 100%;
    }
    .newPassword{
        white-space: nowrap;
    }

    .hide {
        bottom: 52.8%  !important;
        right: 25.8% !important;
    }

    .hide2 {
        bottom: 34.5% !important;
        right: 25.8% !important;
    }
}