@media (max-width: 767px) {
    body {
        background-color: #f7f9fa;
    }

    .headerContainer {
        display: none;
    }

    .mobileHeaderContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 9px 20px;
        background-color: white;

        .span {
            width: 16px;
        }
    }

    .logo {
        margin: 0;
    }

    .image {
        width: 26px;
        height: 26px;
    }

    .sidebarContainer {
        display: flex;
        padding: 16px;
        overflow: hidden;
        width: 200px;
        background-color: white;
        height: 770px;
    }

    .mainMenu {
        font-weight: 600;
        font-size: 10px;
        color: #9CA3AF;
        margin: 0 0 12px 0;
        text-transform: uppercase;
        position: relative;
        display: flex;
    }

    .dashoardSection {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: black;
        font-size: 14px;
        gap: 10px;
        font-weight: 500;
        color: #111827;
        margin-left: 9px;
    }

    a.active {
        background: #E8E9EA;
        border-radius: 4px;
        width: 100%;
        padding: 2px 34px 2px 4px;



    }




}