:root {
  --color-FF7B3D: #FF7B3D;
  --color-5C260C: #5C260C;
  --color-FFFFFF: #FFFFFF;
  --color-FFF7F3: #FFF7F3;
  --color-202C4B: #202C4B;
  --color-92969C: #92969C;
  --color-000000: #000000;
  --color-FF0000: #FF0000;
  --color-E7E8ED: #E7E8ED;
  --color-EE5D36: #EE5D36;
  --color-EF6537: #EF6537;
  --color-E43734: #E43734;
  --color-ED5E37: #ED5E37;
  --color-322C2C: #322C2C;
  --color-086FF1: #086FF1;
  --color-E5E7EB: #E5E7EB;
  --color-252A30: #252A30;
  --color-968E8E: #968E8E;
  --color-ff0000f7: #ff0000f7;
  --color-ef6537d9: #ef6537d9;
  --color-cc7e4d: #cc7e4d;
  --color-FFF7F340: #FFF7F340;
  --color-6b7280: #6b7280;
  --color-010e1e: #010e1e;
}